{% extends "portal/base.html" %} {% block content %} {%load static%}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
          <div class="d-flex align-items-end flex-wrap">
            <div class="d-flex">
              <i class="mdi mdi-grid-large text-muted hover-cursor"></i>
              <p class="text-muted mb-0 hover-cursor">
                &nbsp;/&nbsp;University&nbsp;/&nbsp;
              </p>
              <p class="text-primary mb-0 hover-cursor">Faculty</p>
            </div>
          </div>
          <div  class="d-flex justify-content-between align-items-end flex-wrap">
              
            <div id="add_faculty_button_open">
                <button
            
              type="button"
              class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block"
              onclick="toggle_faculty_section(1)"              
            >
             <i class="mdi mdi-plus text-muted"></i>

            </button>
            </div>
            <div id="add_faculty_button_close">
                <button
            
              type="button"
              class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block"
              onclick="toggle_faculty_section(0)"
            >
              <i class="mdi mdi-minus text-muted"></i>

            </button>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>

    <div id="add_section" class="row"  style="display:none">
      <div class="col-md-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Add a new faculties</p>
            <form class="forms-sample" action="" method="POST">
                
            {% csrf_token %}
                 
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleSelectGender"
                      >Choose the Faculty Dean
                    </label>
                    
                    
                    {{form.dean}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleSelectGender">Faculty Name</label>
                    {{form.name}}
                

                  </div>
                </div>
              </div> 
              <button type="submit" class="btn btn-primary mr-2" id="submitBtn">Add</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Existing faculties</p>
            <div class="table-responsive pt-3">
              <table id="" class="table table-hover">
                <thead>
                  <tr class="content-wrapper">
                    <th>#</th>
                    <th colspan="2">Dean</th>

                    <th>Faculty name</th>
                    <th>Creation Date</th>
                    <th>Updation Date</th> 

                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    {%for faculties in faculties_list%}
                   
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                      <div class="item-thumbnail">
                        <img
                          src="{{faculties.dean.profile.profile_picture.url}}"
                          alt="image"
                          class="profile-pic"
                        />
                      </div>
                    </td>

                    <td>{{faculties.dean}}</td>

                    <td>{{faculties.name}}</td>

                    <td>{{faculties.creation_date|date:"F d, Y"}}</td>
                    <td>{{faculties.updation_date|date:"F d, Y"}}</td>
                    {% include 'portal/partial/faculty_delete_modal.html' %}

                    <td>
                      <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown mr-1">
                          <a
                            class="nav-link count-indicator d-flex justify-content-center align-items-center"
                            id="messageDropdown"
                            href="#"
                            data-toggle="dropdown"
                          >
                            <i class="mdi mdi-dots-vertical mx-0"></i>
                          </a>
                          <div
                            class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="messageDropdown"
                          >
                            <button type="button" class="dropdown-item" class="confirm-delete" title="Delete" data-toggle="modal" data-target=".deleteConfirmationModal{{faculties.id}}" id="deleteButton{{faculties.id}}">
                              <i class="mdi mdi-delete text-muted"></i>
                              <span class="text-muted">delete</span> 
                            </button>
                            <a class="dropdown-item" href="{% url 'portal-faculty-update' faculties.id %}">
                            <i class="mdi mdi-pencil text-muted"></i>
                                edit</a>
                            
                          </div>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  {% include 'portal/partial/footer.html' %}
  <!-- partial -->
</div>
<!-- main-panel ends -->
<script>
    let add_section = document.getElementById("add_section");
    let add_faculty_button_open = document.getElementById("add_faculty_button_open");
    let add_faculty_button_close = document.getElementById("add_faculty_button_close");
    add_section.style.display = "none";
    add_faculty_button_close.style.display = "none";


    function toggle_faculty_section(x){
        if(x==1){
    add_section.style.display = "block";
    add_faculty_button_close.style.display = "block";
    add_faculty_button_open.style.display = "none";

        }else{
    add_section.style.display = "none";
    add_faculty_button_close.style.display = "none";
    add_faculty_button_open.style.display = "block";


        }
    }

</script>
{%endblock content%}
