<div
  class="modal fade"
  id="staticBackdrop_application_form_success"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <button
          type="button"
          class="close"
          id="modal-dismissal"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 id="modal-body-message"></h5>
      </div>

      <div class="modal-footer" id="modal-footer">
        {% comment %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Create a new application
        </button>
        {% endcomment %}
        <a
          type="button"
          id="modal-footer-procced-button"
          class="btn"
          id="modal-proceed"
          style="background-color: maroon; color: white"
          href="{{request.META.HTTP_REFERER|escape}}"
        >
          Proceed
        </a>
      </div>
    </div>
  </div>
</div>
