<div
  class="container-scroller"
  id="term-and-condition-scroll"
  style="overflow-y: scroll; height: 200px; overflow-x: hidden"
>
  <div
    class="container-fluid page-body-wrapper full-page-wrapper"
    id="term-and-condition-scroll"
  >
    <div class="main-panel w-100 documeation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1" id="doc-intro">
            <div class="col-12 grid-margin" id="doc-intro">
              <div class="card">
                <div class="card-body">
                  <h3 class="mb-4 mt-4 text-center">
                    THE RULES AND REGULATIONS
                  </h3>
                  <h5 class="mb-5 mt-5 text-center">
                    <strong>
                      For the kind attention of students, parents, guardian,
                      sponsors or employers:</strong
                    >
                  </h5>

                  <p class="mb-2 text-center">REFUND POLICY</p>
                  <div
                    class="alert alert-success mt-4 d-flex align-items-center"
                    role="alert"
                  >
                    <p class="text-justify">
                      The application/evaluation fee is not refundable. A
                      student may cancel enrolment within three working days
                      following enrolment, and receive a refund of all transfer
                      credit fees and all tuition for independent studies
                      courses. Thereafter, the student may receive a 50% refund
                      within 30 days, 30% within 60 days, and 10% within 90 days
                      provided the degree program has not been completed. If the
                      degree program has been completed and the diploma has been
                      ordered by the student, there will be no refund.
                      Cancellation is made by registered mail and the date of
                      the postmark will determine the effective date of
                      cancellation. It should be noted that after the expiry of
                      a period of 90 days the University shall not refund any
                      student under any circumstances. Refunds will be provided
                      within 30 days of receipt of the written request for
                      cancellation. In the event of any disagreement, a student
                      may file a grievance within 30 days with the Chairman of
                      the university council, who will respond within 30 days of
                      receipt of the grievance
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 grid-margin" id="doc-started">
              <div class="card">
                <div class="card-body">
                  <p class="mb-2 text-center">REFUND POLICY</p>
                  <p >
                  <ol class="text-justify">
                   <li> Examination fees, shall were applicable be paid separate
                    from tuition fees. 
                    <ol type='a'><li>All Foreign Students are required to
                    pay a 50% deposit of the total Annual Tuition fees upon
                    registration.</li></ol> b) In case you are remitting the tuition fees
                    by instalments, the same must be paid on or before the 3rd
                    of every month irrespective of the date of your Nominee's
                    enrolment/commencement of classes. A semester's fee must be
                    paid in eight (8) equal instalments commencing from each
                    month your nominee enrols with this University. c) Depending
                    on inflation, Tuition fees may be amended at the discretion
                    of the University. d) Students should obtain student cards
                    from the Admissions Office and Clearance cards from the
                    Finance Department. e) Fees payable are per course and NOT
                    per duration i.e. students pay the full tuition fees per
                    course irrespective of the date they start classes. f) A
                    penalty of 12.5% will be charged on late payments. </li></ol>3. There
                    are two semesters in a year. 4. Nominees are expected to
                    attend classes (compulsory) up to the day of his/her exams
                    and his/her absence from classes shall in no way affect your
                    obligation to remit the full semester's fees including for
                    the month your nominees shall take his/her exams. 5. You are
                    hereby also required to submit a written letter to the
                    University in case your nominee was absent from his/her
                    classes. A doctor's confirmation letter must also be
                    enclosed if the absence was caused by illness. 6. You will
                    also remit the necessary registration, examination, annual
                    subscriptions, exemption, invigilation and any other fees
                    payable to the examination body of your nominee’s course.
                    The University may charge small fees to cover the
                    postage/telephone/fax/telefax/official charges for
                    processing your nominee(s) application. 7. No transcripts
                    shall be released to any student before clearing all
                    outstanding fees. 8. All students are required to attend the
                    pre-examination or intensive revision course, which is known
                    as “Block Release”, this is aiming at special revision on
                    exam topics, solving of past examination papers as well as
                    clarity on student’s personal difficulties. A nominal fee
                    shall be charged for the said courses. 9. Students found to
                    be missing classes frequently are liable to be dismissed
                    from the University. 10. Students reporting for classes
                    fifteen minutes after commencement of the lecture session
                    shall not be allowed into the class save emergencies or
                    other related circumstances. 11. Students must dress
                    decently. 12. Noisy appliances are strictly not allowed into
                    the University, especially in the lecture halls and
                    reception area. 13. All students must possess study
                    materials for their courses. The lists shall be provided to
                    them. 14. All students must complete their assignments
                    regularly. Tests and mock exams must be attempted at all
                    times. Block Release is compulsory to all students. 15.
                    Students shall be required from time to time to complete the
                    hourly assessment questionnaire of each lecture session that
                    they attend. 16. Foreign students should carry out the
                    Republic of Namibia immigration formalities before
                    commencing studies. All foreign students must submit
                    sponsorship letter to the University. 17. Students must keep
                    the premises clean at all times. Littering and smearing of
                    walls will not be tolerated. Smoking, eating, drinking of
                    any sort or other drinks is strictly prohibited on any part
                    of the premises. 18. Insubordination of any nature towards
                    the staff (lecturers and administrative staff) shall not be
                    tolerated. Respect and professional spirit should be
                    maintained by all students. 19. The University regards
                    fighting as a serious offence. Any student fighting another
                    student, staff or lecturer shall be dealt with in accordance
                    with the IUM Student Misconduct Policy. 20. A student who
                    negligently or intentionally damages University property
                    shall be held liable. All cost of such damaged shall be
                    directly added to the student account. 21. Students are
                    encouraged to make use of the University’s suggestion boxes
                    availed at all campuses.
                  </ol>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
